<!doctype html>
<html ng-app="myApp">
  <head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css"
        href="/static/css/styles.css" />
        <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
        <script src="/static/js/index.js"></script>
  </head>
  <body ng-controller="myController">
    <div id="posts">
      <div ng-repeat="post in posts">
        <a href="/project/{{post.id}}">{{post.title}}</a>
        <span> {{post.author}}</span>
        <span> {{post.numOffers}}</span>
      </div>
    </div>
    <a href="/create">Start a New Project</a>
  </body>
</html>
