<!DOCTYPE html>
<html ng-app="">
  <head>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h3><%= author %></h3>
    <div><%= content %></div>
    <%for (var offerID in offers) {
      var offer = offers[offerID]%>
      <div id="<%=offerID%>"><%=offer.user%><%=offer.type%></div>
    <%}%>
    <button ng-click="showEdit = !showEdit">Offer Help</button>
    <div ng-class="{ 'hidden': showEdit }" id="edit-offer">
      <select id="type-select" ng-model="offerType">
        <option value="money">Money</option>
        <option value="material">Materials</option>
        <option value="skill">Skill/Expertise</option>
        <option value="transportation">Transportation</option>
        <option value="space">Space</option>
      </select>
      <input type="text" ng-model="offerDesc">
      <button onClick="submitOffer()">Submit</button>
    </div>
  </body>
</html>
